.sidenav{
    background-color: #3f51b5;
    width: 150px;
}
.sidenav a{
    color: #fff;
    /* text-decoration: none; */
    /* display: block; */
    /* padding: 10px; */
    font-size: 1.2em;
    /* font-weight: bold; */
}
.sidenav i{
    padding-right: 10px;
}
/* Aqui fica a cor de Fundo da Navegação */
.content{
    padding: 16px;
    /* background-color: darksalmon; */
    background-color: mediumseagreen

}